<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatify</title>
    <link rel="stylesheet" href="/css/s.css">
</head>
<body>
    <div id="bg">
        <form method="get" action="/space">
            <input type="text" placeholder="Enter Name.." id="uname" name="uname">
            <select name="space" id="space">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
    
            </select>
            <br>
            <br>
    
            <button class="bb" type="submit">Join the Space</button>
        </form>

    </div>
    

    <script src="/utils/name.js"></script>
</body>
</html>